@media screen and (max-width: 767px){
  .wrapper {
    width: 300px;
  }

  .left {
  width: 100px;
  }

  .child-y {
    width: 125px;
  }

  .child-b {
    width: 125px;
  }

  .right-L {
    width: 75px;
  }

  .right-under {
    width: 200px;
  }
}

@media screen and (max-width: 479px){
  .header {
    width: 150px;
  }

  .left {
    width: 150px;
    height: 100px;
    float: none;
  }

  .right {
    float: none;
  }

  .right-R {
    float: none;
  }

  .child-y {
    width: 150px;
  }

  .child-b {
    width: 150px;
  }

  .right-L {
    width: 150px;
    height: 100px;
    float: none;
  }

  .right-under {
    width: 150px;
    float: none;
  }

  .footer {
    width: 150px;
  }
}