* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 400px;
}

.header {
  height: 100px;
  background-color: #141f40;
}

.left {
  width: 150px;
  height: 250px;
  background-color: #80bfa8;
  float: left;
}

.right {
  float: right;
}

.child-y {
  width: 150px;
  height: 50px;
  background-color: #dbd400;
}

.child-b {
  width: 150px;
  height: 100px;
  background-color: #0093b7;
}

.right-R {
  float: left;
}

.right-L {
  width: 100px;
  height: 150px;
  background-color: #ff9e6b;
  float: right;
}

.right-under {
  width: 250px;
  height: 100px;
  background-color: #8c2727;
  float: right;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.footer {
  height: 100px;
  background-color: #d98d30;
}